name: CI Workflow

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build_and_test:
        runs-on: ubuntu-latest #toma el proyecto lo crea en una maquina virtual y crea las pruebas 
        steps:
          - name: Clonar Repositorio
            uses: actions/checkout@v4

          - name: Configurar Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'

          - name: Instalar Dependencias
            run: npm install

          - name: Lint del codigo 
            run: npm run lint

          - name: Ejecutar Pruebas
            run: npm test

          - name: Build
          - run: npm ci

  